.tc {
    border: 1px solid hsl(var(--border));
    padding: spacing(1.5);
    display: flex;
    flex-direction: column;
    gap: spacing(0.5);

    &__upper,
    &__lower {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__upper {
        &Info {
            display: flex;
            align-items: center;
            gap: spacing(1.5);

            &Logo {
                --size: 32px;
                @include size(var(--size));
                border-radius: var(--radius-full);
            }

            &Name {
                color: hsl(var(--foreground));
            }
        }
        &Meta {
            &Token {
                color: hsl(var(--foreground));
            }

            &Value {
                color: hsl(var(--foreground));
            }
        }
    }

    &__lower {
        &Left,
        &Used {
            color: hsl(var(--foreground));
        }
    }
}


.tf {
    display: flex;
    flex-direction: column;

    &__legend,
    &__layout {
        display: flex;
        align-items: center;
        justify-center: space-between;
    }

    &__legend {
        margin-bottom: spacing(1);

        &Label {
            color: hsl(var(--surface-foreground));
        }

        &Total {
            color: hsl(var(--success-foreground));
        }
    }

    &__layout {
        border-radius: var(--radius-lg);
        margin-bottom: spacing(2);
        background-color: hsl(var(--surface));
        padding: spacing(1);

        &Info {
            display: flex;
            align-items: center;
            gap: spacing(1.5);
            &Logo {
                --size: 32px;
                @include size(var(--size));
                overflow: hidden;
                border-radius: var(--radius-full);
            }

            &Name {
                color: hsl(var(--foreground));
            }
        }

        &Wrap {
            display: flex;
            flex-direction: column;
            gap: spacing(1.5);

            &Label {
                color: hsl(var(--surface-foreground));
            }
            &Input {
                color: hsl(var(--surface-foreground));
            }
        }
    }

    &__detail {
        display: flex;
        flex-direction: column;
        gap: spacing(1.5);
        margin-bottom: spacing(2);

        &Item {
            display: flex;
            align-items: center;
            justify-center: space-between;
        }
    }

    &__submit {
        margin-bottom: spacing(1);
    }

    &__helper {
        color: hsl(var(--muted-foreground));
    }
}