--size: 32px;
@include size(var(--size));
border-radius: 50%;
border: 2px dashed var(--border);
display: flex;
align-items: center;
justify-content: center;
overflow: hidden;
background-color: hsl(var(--surface));
transition: border 0.4s ease;

&:hover {
  border-style: solid;
  border-color: var(--border);
}

img {
  @include size(calc(var(--size) * 0.9));
  border-radius: 0;
  display: block;
}